@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  font-family: 'Playfair Display', serif;
  color: #777777
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.grid-container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.grid {
  display: flex;
  align-items: center;
  /* background-color: white; */
  margin-left: -15px;
  margin-right: -15px;
  width: 100%;
}

.column-6 {
  flex-basis: 50%;
  margin-left: 15px;
  margin-right: 15px;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ul li {
  list-style: none;
}

ul li a {
  padding: 10px;
  display: inline-block;
}

.header {
  background-color: #101820;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.6);
}

  .logo a {
    color: #fff;
    font-size: 2rem;
  }

  a {
    text-decoration: none;
  }

  .header-nav a {
    color: #fff;
  }
  #hero-outer {
    height: 600px;
    width:100%;
    overflow: hidden;
    position: relative;
  }
  #hero-image {
    background-image: url("/images/main_img.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 600px;
  }

  .opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

  @media only screen and (max-width: 639px) {
    .grid-responsive{
      flex-direction: column;
    }
  }
  @media only screen and (min-width: 640px) {
    .grid-responsive{
      flex-direction: row;
    }
  }